@model WebUI.Models.RoleView

@{
    ViewBag.Title = "Права пользователей";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<div class="container-body col-md-12 col-sm-12 col-xs-12">
    <span class="span-title">Права пользователей</span>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @using (Ajax.BeginForm("addrole", new { controller = "settings" }, new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "OnSuccess('FormRoleAdd')",
            UpdateTargetId = "RoleList",
            InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
            LoadingElementId = "progr"
        }, new { id = "FormRoleAdd"}))
        {
            <div class="col-lg-12 no-padding" style="margin-top:20px;">
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = "256" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="col-lg-2">
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Добавить" class="btn btn-danger" />
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-spinner fa-pulse" id="progr" style="display:none;padding:10px;"></i>
                </div>
            </div>
        }
        <div class="col-lg-12">
            <hr />
        </div>
        @Html.Action("RoleList", "settings")
    </div>
</div>