body {
    padding: 0 !important;
    background-color: #f7f7f7;
}

footer .row {
    background-color: #00556e;
    color: #ccc;
}

    footer .row ul {
        font-size: 0.9em;
        list-style-type: none;
        padding-left: 15px;
        line-height: 1.8em;
    }

    footer .row span {
        color: #ddd;
        padding: 7px;
        display: block;
        border-bottom: 1px solid #5d5d5d;
        margin-bottom: 5px;
    }

footer a {
    text-decoration: none;
    color: #ccc;
}

    footer a:hover {
        text-decoration: none;
        color: #aaa;
    }

footer .cr {
    background-color: #002D3A;
    color: #aaa;
    font-size: 0.9em;
    text-align: center;
    padding: 2px 20px;
}

.contacts i {
    font-size: 1.2em;
    position: absolute;
    margin-top: 4px;
    color: #FF5200;
}

.contacts a {
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 35px;
}

.btn-header {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: #fff;
    padding: 5px 15px;
    color: #005aa5;
    text-decoration: none;
}

    .btn-header:hover {
        text-decoration: none;
        height: 30px;
        border-bottom: 2px solid #005aa5;
        opacity: 0.7;
    }

.header-main {
    height: 100px;
    display: block;
    position: relative;
}

    .header-main::after {
        background: url(header.jpg);
        content: "";
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .header-main .btn-link {
        display: inline-block;
        color: #f5f5f5;
    }

        .header-main .btn-link:hover {
            color: #dfdfdf;
        }

        .header-main .btn-link > i {
            font-size: 1.1em;
            text-shadow: 0 0 1px #005aa5;
        }

.empty-row {
    height: 15px;
}

a.car-control:hover, a.car-control:focus {
    color: #fff !important;
    opacity: 1;
}

.car-control {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    color: #fff;
    width: 10%;
}

    .car-control .fa {
        position: absolute;
        top: 50%;
        left: 30%;
        z-index: 5;
        display: inline-block;
        padding: 3px;
        font-size: 1.7em;
        text-shadow: 0 0 5px #FF5200;
    }

    .car-control.car-right {
        right: 0;
        left: auto;
    }

.btn-more {
    background-color: #f5f5f5;
    height: 30px;
}

    .btn-more:hover {
        height: 30px;
        border-bottom: 2px solid #FF5200;
    }

.btn-reg-right {
    background-color: #f5f5f5;
    height: 47px;
    width: 100%;
    font-size: 1.3em;
    color: #FF5200;
    padding: 10px;
}

    .btn-reg-right:hover {
        height: 47px;
        border-bottom: 2px solid #FF5200;
    }

.btn-reg {
    background-color: #f5f5f5;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
}

    .btn-reg:hover {
        border-bottom: 2px solid #FF5200;
    }

.title-main-article h1, .title-main-article a {
    color: #FF5200 !important;
    background-color: #f7f7f7;
    border-bottom: 2px solid #FF5200;
    display: block;
    margin: 0 -15px;
    padding: 10px 10px 8px 10px;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none !important;
}

.date-main-article {
    text-align: center;
    background-color: #e5e5e5;
    margin-bottom: 15px;
}

.btn-main-article {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f3f3f3;
    text-decoration: none !important;
    font-size: 0.9em;
}

.btn-w {
    padding: 2px 10px;
}

.error-text {
    font-size: 0.8em;
    display: block;
    text-align: right;
}

.span-title {
    font-size: 1.5em;
    display: block;
    color: #777;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 10px;
}

.container-body {
    min-height: 700px;
}

.nav > li > a {
    padding: 5px 10px !important;
}

.k-edit-label label, .k-edit-field label, .label-normal {
    font-weight: 400;
}

.label-sm {
    font-size: 0.9em;
}

.checkbox input[type=checkbox] {
    margin-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

input, textarea, button,
button:active,
button:focus {
    outline: none !important;
}

/*убираем все скругления*/
* {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    outline: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /*font-family: roboto;*/
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        /*font-family: roboto;*/
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], .loginmodal-container input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 20px;
        margin-right: -10px !important;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, .loginmodal-container input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    /*font-family: 'Arial', sans-serif;*/
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    /*font-family: roboto;*/
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 0.8em;
    display: block;
    text-align: center;
    margin: -15px 0 10px 0;
    line-height: 0.9em;
}

.navbar-default {
    background-color: transparent;
}

.label-reg {
    padding: 7px 10px;
    text-align: right;
}

@media (max-width:767px) {
    .empty-row {
        height: 5px;
    }

    .title-site {
        font-size: 0.8em;
        padding: 10px 0;
    }

        .title-site span {
            font-size: 0.9em;
        }
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .label-reg {
        padding: 7px 10px 0 10px;
        text-align: left;
    }
}
