<span class="span-title" style="font-size:1.1em;">Каталог</span>
<a href="http://tiande.ru/web/catalog/?pny=by" target="_blank">
    <img src="~/Content/UserFiles/Images/Main/catalog.jpg" style="max-width:250px;width:100%;" />
</a>