<span class="span-title" style="font-size:1.1em;">Контакты</span>
<div class="contacts">
    <div class="col-lg-12">
        <i class="fa fa-phone"></i>
        <a href="tel:+375296869721">+375 29 6869721</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-phone"></i>
        <a href="tel:+375336911437">+375 33 6911437</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:tbaerova@tut.by">tbaerova@tut.by</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-skype"></i>
        <a href="skype:krasota-baer">krasota-baer</a>
    </div>
</div>