@model List<WebUI.Models.MainArticleView>

@foreach (var a in Model)
{
    <div class="col-lg-12" style="margin-bottom:20px;">
        @Html.Partial("_OneArticle", a)
    </div>
}

@{
    int ArticlesCount = Int32.Parse(Session["ArticlesCount"].ToString());
    int ArticleOnPage = Int32.Parse(Session["ArticleOnPage"].ToString());
    int ArticleMainPage = Int32.Parse(Session["ArticleMainPage"].ToString());
    int NextPage = ArticleMainPage + 1;
    string isVisible = String.Empty;
    if (ArticlesCount - ArticleOnPage * ArticleMainPage <= 0)
    {
        isVisible = "display:none";
    }
}

<div id="more">
    
    <div id="btnMore" style="text-align:center;margin-bottom:15px;@{@isVisible}" class="col-lg-12 no-padding">
        <hr style="margin: 10px 0;" />
        <i class="fa fa-spinner fa-pulse" id="progrArticle" style="display:none;margin-right:20px;"></i>
        <button class="btn btn-sm btn-more" id="btnMore">
            Показать еще
        </button>
    </div>
</div>

<script>
    $('#btnMore').click(function () {
        $.ajax({
            url: '/home/@{@Session["CategoryArticles"]}/' + @{@NextPage},
            cache: false,
            success: function (html) {
                $('#more').replaceWith(html);
            }
        });
    });
    $(document).ajaxStart(function() {
        $("#progrArticle").show();
    });
</script>