<span class="span-title" style="font-size:1.1em;">Оптовый отдел</span>
<div class="contacts">
    <div class="col-lg-12">
        <i class="fa fa-phone"></i>
        <a href="tel:+375336916685">+375 33 6916685</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-phone"></i>
        <a href="tel:+375296112394">+375 29 6112394</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:obaerov@tut.by">obaerov@tut.by</a>
    </div>
    <div class="col-lg-12">
        <i class="fa fa-skype"></i>
        <a href="skype:oleg-baerov">oleg-baerov</a>
    </div>
</div>
