@model List<Domain.Entities.MenuSet>
    
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle" id="btn-menu" onclick="$('#right-panel').toggle()">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            @*<div class="brand-name-wrapper">
                    <a class="navbar-brand" href="/">
                        <i class="fa fa-home" style="font-size:1.5em;"></i>
                    </a>
                </div>*@

            @*<!-- Search -->
                <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                    <span class="glyphicon glyphicon-search"></span>
                </a>

                <!-- Search body -->
                <div id="search" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="navbar-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск...">
                            </div>
                            <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                        </form>
                    </div>
                </div>*@
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            @{
                if (Session["Link"] != null)
                {
                    Session["regActive"] = null;
                }
                if (Session["regActive"] != null)
                {
                    Session["Link"] = null;
                    Session["Group"] = null;
                }
                string Link = Session["Link"] == null ? null : Session["Link"].ToString();
                string regActive = Session["regActive"] == null ? null : Session["regActive"].ToString();
                string Group = Session["Group"] == null ? null : Session["Group"].ToString();
            }

            <li class="active" style="margin-bottom:5px;">
                <a href="/">На главную</a>
            </li>

            <li class="@{@regActive}"><a href="/home/register">Регистрация в компанию TianDe</a></li>
            @{
                string active = String.Empty;
                var ok = Model.Where(m => m.Name == "О компании TianDe").FirstOrDefault();
                if (ok != null)
                {
                    if (Link == ok.Link)
                    {
                        active = "active";
                    }
                }
            }
            <li class="@{@active}">
                <a href="@{@Model.Where(m => m.Name == "О компании TianDe").FirstOrDefault().Link}">О компании TianDe</a>
            </li>

            @foreach (var g in Model.Where(d => d.Group != Domain.Entities.Groups.Главная).OrderBy(d => d.Group).GroupBy(d => d.Group))
            {
                <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#@{@g.Select(ff => ff.Group).FirstOrDefault()}">
                        @g.Select(ff => ff.Group).FirstOrDefault().ToString().Replace("_", " ") <span class="caret"></span>
                    </a>
                    @{
                        string classIn = Group == g.Select(ff => ff.Group).FirstOrDefault().ToString() ? "in" : String.Empty;
                    }
                    <div id="@{@g.Select(ff => ff.Group).FirstOrDefault()}" class="panel-collapse collapse @{@classIn} @{@Session["AlwaysIn"]}">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                @foreach (var l in g.Where(s => s.IsActive == true).OrderBy(s => s.Order))
                                {
                                    active = String.Empty;
                                    if (Link == l.Link)
                                    {
                                        active = "active";
                                    }
                                    <li class="@{@active}">
                                        <a href="@{@l.Link}">@l.Name</a>
                                    </li>
    }
                            </ul>
                        </div>
                    </div>
                </li>
    }
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>