<div ng-controller="homeSubscriberController" ng-cloak
     data-ng-model="antiForgeryToken" data-ng-init="antiForgeryToken='@Html.RequestVerificationToken()'">

    <span class="span-title" style="font-size:1.1em;">Подписаться на новости</span>

    <ng-form name="AddSubscriberForm" id="AddSubscriberForm" novalidate>
        <input type="email" id="email" name="email" class="form-control" ng-required="true" ng-model="email" ng-maxlength="100" maxlength="100" placeholder="Ваш E-Mail"
               ng-pattern="EMAIL_REGEXP" style = "min-height:40px;"/>
        <span ng-show="submitted && AddSubscriberForm.email.$error.required" class="small text-warning">Вы не указали e-mail</span>
        <span ng-show="AddSubscriberForm.email.$error.pattern" class="small text-warning">Некорректный адрес e-mail</span>

        <div class="col-lg-12 no-padding">
            <input type="submit" style="width:100%;height:40px;margin:10px 0; background-color:#FF5200; color:#fff; border-color:#BF3D00;min-height:40px;" value="Отправить" class="btn" 
                   ng-click="submitAddSubscriberForm(antiForgeryToken)"/>
            <div style="padding:10px;margin-top:-50px;margin-left:18px; position:absolute;color:#fff;">
                <i ng-show="isBusyF" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
        </div>
    </ng-form>
</div>