@{
    ViewBag.Title = "Baeroff.com - командный сайт Рубиновых директоров корпорации TianDe Татьяны и Олега Баеровых";
}
<div class="col-lg-12 no-padding">
    <div class="col-lg-9 no-padding">
        @Html.Action("MainArticles","Home")
    </div>
    <div class="col-lg-3">
       @Html.Partial("_RightPanel")
    </div>
</div>