@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-lg-4" style="min-height:200px;">
        <div class="col-lg-12" style="margin-bottom:25px;">
            <div id="sidebar" class="sidebar-nav">
                
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Регистрация в компанию</a></li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">О компании</a></li>
                </ul>
                <h5>
                    Дистрибьюторам TianDe
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Выгодный старт</a></li>
                    <li><a href="#">Стабильные продажи</a></li>
                </ul>
                <h5>
                    Бизнес с TianDe
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Маркетинг-план компании</a></li>
                    <li><a href="#">Звездный маркетинг</a></li>
                    <li><a href="#">Премиум-курс</a></li>
                    <li><a href="#">Магистр TianDe</a></li>
                    <li><a href="#">Архитектор. Создай свой доход</a></li>
                </ul>
                <h5>
                    Информация
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Магазины TianDe</a></li>
                    <li><a href="#">Лидеры команды</a></li>
                </ul>
                <h5>
                    Предпринимателям
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Открой свой магазин TianDe – Сервисный центр</a></li>
                    <li><a href="#">Положение о Сервисных центрах</a></li>
                    <li><a href="#">StartUp для начинающих – специальная программа</a></li>
                    <li><a href="#">Магазины TianD</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12" style="background-color:bisque;height:300px;margin-bottom:25px;">
            Подписка на рассылки
        </div>
    </div>
    <div class="col-lg-8" style="min-height:200px;">
        <div class="col-lg-12" style="background-color:antiquewhite;height:400px;margin-bottom:25px;">
            Блок 2-1
        </div>
        <div class="col-lg-12" style="background-color:antiquewhite;height:400px;margin-bottom:25px;">
            Блок 2-2
        </div>
        <div class="col-lg-12" style="background-color:antiquewhite;height:400px;margin-bottom:25px;">
            Блок 2-3
        </div>
    </div>
</div>