<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" style="font-size:1.5em;" title="Домой"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown1">
                    <span class="fa fa-cogs" style="margin-right:5px;"></span> Общие настройки <span class="caret"></span>
                </a>

                <div id="dropdown1" class="panel-collapse collapse @{@Session["sAll"]}">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="@{@Session["sMenu"]}">
                                @Html.ActionLink("Настройка меню", "menusetmanage")
                            </li>
                            <li class="@{@Session["sConst"]}">
                                @Html.ActionLink("Константы", "constants")
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown2">
                    <span class="fa fa-users"  style="margin-right:5px;"></span> Пользователи <span class="caret"></span>
                </a>

                <div id="dropdown2" class="panel-collapse collapse @{@Session["sUsers"]}">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="@{@Session["sUser"]}">@Html.ActionLink("Пользователи", "UserManage")</li>
                            <li class="@{@Session["sRole"]}">@Html.ActionLink("Права","RoleManage")</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/settings/jobs"><span class="fa fa-envelope-square" style="margin-right:5px;"></span> HangFire</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>