<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
                <a class="navbar-brand" href="/">
                    <i class="fa fa-home" style="font-size:1.5em;"></i>
                </a>
            </div>

            <!-- Search -->
            <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                <span class="glyphicon glyphicon-search"></span>
            </a>

            <!-- Search body -->
            <div id="search" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Поиск...">
                        </div>
                        <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <li><a href="#"><span class="glyphicon glyphicon-send"></span> Регистрация в компанию</a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> О компании</a></li>

            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown1">
                    <span class="glyphicon glyphicon-user"></span> Дистрибьюторам TianDe <span class="caret"></span>
                </a>

                <div id="dropdown1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Выгодный старт</a></li>
                            <li><a href="#">Стабильные продажи</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown2">
                    <span class="glyphicon glyphicon-user"></span> Бизнес с TianDe <span class="caret"></span>
                </a>

                <div id="dropdown2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Маркетинг-план компании</a></li>
                            <li><a href="#">Звездный маркетинг</a></li>
                            <li><a href="#">Премиум-курс</a></li>
                            <li><a href="#">Магистр TianDe</a></li>
                            <li><a href="#">Архитектор. Создай свой доход</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown3">
                    <span class="glyphicon glyphicon-user"></span> Информация <span class="caret"></span>
                </a>

                <div id="dropdown3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Магазины TianDe</a></li>
                            <li><a href="#">Лидеры команды</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown4">
                    <span class="glyphicon glyphicon-user"></span> Предпринимателям <span class="caret"></span>
                </a>

                <div id="dropdown4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Открой свой магазин TianDe – Сервисный центр</a></li>
                            <li><a href="#">Положение о Сервисных центрах</a></li>
                            <li><a href="#">StartUp для начинающих – специальная программа</a></li>
                            <li><a href="#">Магазины TianDe</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>