<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
    <connectionStrings>
      <add name="mainDbContext" connectionString="Data Source=mssql.baeroff.com;Initial Catalog=tbaerova;User ID=user;Password=tBaerova;Persist Security Info=False;" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(name)"/>
      <!-- 
      <add name="mainDbContext" connectionString="Data Source=SQL5020.SmarterASP.NET;Initial Catalog=DB_A0CF4C_baerova;User Id=DB_A0CF4C_baerova_admin;Password=Gjkmpjdfntkm0035;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      -->
    </connectionStrings>

  <system.web>
<machineKey validationKey="EA6B153EC90C3613E1EA792E030492604A4ACDE4D1835F34B914AA328FF66435361584D11ABBF93B0134C4E526C9E1053280D4CA0DC78454A655FEA3D611E0" decryptionKey="95E8D3D9939154AB8D44A80E67681F845B880EDF3B57D90B2B5B9B87E7C16C" validation="SHA1" decryption="AES" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
