@model Domain.Entities.Article

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 no-padding">
    <div class="col-lg-9">
        <h1 class="span-title">@Model.Title</h1>
        <br />
        @Html.Raw(HttpUtility.HtmlDecode(Model.TextArticle))
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12 no-padding" style="margin-bottom:20px;">
            @Html.Partial("~/Views/Home/_Contacts.cshtml")
        </div>
        <div class="col-lg-12 no-padding">
            @Html.Action("Subscriber", "Home")
        </div>
    </div>
</div>