
@{
    ViewBag.Title = "Публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="span-title">Публикации</span>

<a href="/articles/editarticle/00000000-0000-0000-0000-000000000000" class="btn btn-danger">Добавить</a>