@model WebUI.Models.ArticlesView
@using WebUI.Helpers

@{
    ViewBag.Title = "Публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6">
    <h1 class="span-title">Публикации</h1>
</div>
<div class="col-lg-6">
    <div class="pagination pull-right" style="margin-top:0;">
        @{
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("index", new { page = x }))
        }
    </div>
</div>

<div class="row" style="min-height:700px;">
    <div class="col-lg-12" style="margin-bottom:20px;">
        <a href="/articles/editarticle/00000000-0000-0000-0000-000000000000" class="btn btn-danger btn-sm">Добавить</a>
    </div>
    @Html.Action("ListArticle", "Articles")
</div>

<div class="col-lg-offset-6 col-lg-6">
    <div class="pagination pull-right" style="margin-top:0;">
        @{
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("index", new { page = x }))
        }
    </div>
</div>